services:
  flightclientapp:
    image: ${DOCKER_REGISTRY-}flightclientapp
    build:
      context: .
      dockerfile: FlightClientApp/Dockerfile
    container_name: flights_ui
    ports:
      - "3000:8080"
      - "3030:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - Api__BaseUrl=http://flights_backend:8080
    depends_on:
      - flightstorageservice
    networks:
      - flight-network
        

  flightstorageservice:
    image: ${DOCKER_REGISTRY-}flightstorageservice
    build:
      context: .
      dockerfile: FlightStorageService/Dockerfile
    container_name: flights_backend
    ports:
      - "3001:8080"
      - "3031:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__FlightsDb=Server=flightsdb;Database=FlightsDb;User ID=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;  
    depends_on: 
      flightsdb:
        condition: service_healthy
    networks:
      - flight-network

  flightsdb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: flightsdb
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "YourStrong!Passw0rd"
    ports:
      - "1434:1433"
    volumes:
      - sql_data:/var/opt/mssql
    networks:
      - flight-network
    healthcheck:
        test: ["CMD", "/opt/mssql-tools18/bin/sqlcmd", "-S", "localhost", "-U", "sa", "-P", "YourStrong!Passw0rd", "-Q", "SELECT 1", "-C"]
        interval: 10s
        timeout: 5s
        retries: 10
        start_period: 60s

  cleanupservice:
    image: ${DOCKER_REGISTRY-}cleanupservice
    container_name: cleanupservice
    build:
      context: .
      dockerfile: CleanUpService/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__FlightsDb=Server=flightsdb;Database=FlightsDb;User ID=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;  
      - CleanUpTimeDelay__Days=7
    depends_on:
     - flightsdb
    ports:
      - "7070:7070"
    networks:
      - flight-network

volumes:
  sql_data:

networks:
  flight-network:
    driver: bridge  
